<header>
    <nav>
        <h1>盤點系統後台</h1>
        <ul>
            <li><a href="/openup_inv">展開盤點作業</a></li>
            <li><a href="/select_date">盤點進度追蹤</a></li>
            <li><a href="/log">盤點紀錄</a></li>
            <li><a href="#">APP帳號管理</a>
                <ul>
                    <li><a href="/create_user">新增</a></li>
                    <li><a href="/modify_user">修改(刪除)</a></li>
                    <li><a href="/logout">登出</a></li>
                </ul>
            </li>
            <li>使用者: {{ username }}</li>
        </ul>
    </nav>
    <hr>
</header>